@font-face {
    font-family: Custom;
    src: url(font/Outfit-VariableFont_wght.ttf);
}

@media screen and (min-width: 375px){
    body{ 
        width: 80%;
    }
}

@media screen and (min-width: 1440px){
    body{ 
        width: 80%;
    }
}

body { 
    background-color: hsl(212, 45%, 89%);
}

main, footer { 
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 40%;
}

img { 
    border-radius: 5%;
    width: 94%;
    height: 60%;
    margin: 3%;
}

h1 {
    font-family: Custom;
    font-weight: 700;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 20%;
}

p {
    font-family: Custom;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 10%;
    height: 20%;
}

.attribution { 
    font: Custom;
    font-size: 11px; 
    text-align: center; 
    background-color: hsl(212, 45%, 89%);
}
