/* custom font */
@font-face {
    font-family: Custom;
    src: url(font/Outfit-VariableFont_wght.ttf);
}
/* custom color variable declaration */
:root {
    --CWhite: hsl(0, 0%, 100%);
    --CLight-Gray: hsl(212, 45%, 89%);
    --CGrayish-Blue: hsl(220, 15%, 55%);
    --CDark-Blue: hsl(218, 44%, 22%);
}
/* browser style reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main, footer{ 
        width: 1440px;
}

@media screen and (hover:none){
    main, footer{ 
        width: 375px;
    }
}

body, main {
    display: flex;
    flex-direction: column;
}

body { 
    min-height: 100vh;
    background-color: var(--CLight-Gray);
    align-items: center;
    justify-content: center;
}

main {
    height: 80%;
    width: 80%;
    gap: 10px;
}

main, footer { 
    background-color: var(--CWhite);
    width: 30%;
}

img, main, footer { 
    border-radius: 5%;
}

h1, p, .attribution {
    font-family: Custom;
    font-size: 15px;
    text-align: center;
}

img {
    margin:5%;
    width: 90%;
    align-self: center;
}

h1 {   
    font-weight: 700;  
    font-size: 1.3rem;
    margin: 0% 5%;
    color: var(--CDark-Blue);
}

p {
    font-weight: 400;
    color: var(--CGrayish-Blue);
    margin: 0% 10% 5% 10%;
}

.attribution { 
    font-size: 11px; 
    background-color: var(--CLight-Gray);
}
