@font-face {
    font-family: Custom;
    src: url(font/Outfit-VariableFont_wght.ttf);
}

@media (hover:none){
    body{ 
        width: 375px;
    }
}

body { 
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
}

div { 
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    width: 600px;
    margin-left: 50%;
    margin-right: 50%;
}

img { 
    border-radius: 5%;
    margin: 2%;
}

h1 {
    font-family: Custom;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

p {
    font-family: Custom;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 10%;
}

.attribution { 
    font: Custom;
    font-size: 11px; 
    text-align: center; 
    background-color: hsl(212, 45%, 89%);
}
